* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}
body {
  background-color: var(--background);
}

:root {
  --background: #3b4249;
  --text: #ddd9d5;
  --primarybutton: #b0aab5;
  --secondarybutton: #6e6873;
  --accent: #363437;
}
section {
  overflow: hidden;
}
.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
  z-index: 9999;
}
.nav-bar.scrolled {
  background-color: rgb(13, 4, 52);
  transition: background-color 0.3s ease;
}
.logo-e {
  font-size: 96px;
}
.logo {
  color: #08fbfb;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
}
.links {
  display: flex;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.links li {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  margin-right: 20px;
  padding: 10px;
  transition: all 0.3s ease;
}
.links li:hover {
  color: gold;
  border-bottom: 2px solid gold;
  transition: all 0.3s ease-in-out;
}
.nav-right {
  display: flex;
}
.nav-right i {
  margin-left: 40px;
  padding: 10px;
  font-size: 16px;
}
.nav-right i:last-child {
  margin-right: 0;
}
.cart-icon {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -6px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 4px;
  border-radius: 50%;
}

.cart-card {
  position: absolute;
  top: 110%;
  right: -110%;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 35rem;
  background: #ffffff;
  height: 400px;
  overflow-y: scroll;
}
.cart-card .box {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin: 1rem 0;
}
.cart-card .box img {
  height: 10rem;
}
.cart-card .box .fa-trash {
  font-size: 14px;
  position: absolute;
  top: 50%;
  right: -80px;
  cursor: pointer;
  transform: translateY(-50%);
}
.cart-card .box .fa-trash:hover {
  color: #74ca1d;
}
.cart-card .box .content h3{
  color: #1e1e1e;
  font-size: 14px;
  width: 150px;
}
.cart-card .box .content img{
  width: 100px;
  height: 100px;
}
.cart-card .box .content span {
  color: #1e1e1e;
  font-size: 12px;
  text-transform: capitalize;
}
.cart-card .box .content .quantity {
  padding-left: 1rem;
}
.cart-card .total {
  font-size: 2.5rem;
  padding: 1rem 0;
  text-align: center;
  color: #1e1e1e;
}
.cart-card .btn {
  margin-top: 1rem;
  display: block;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  border: 0.2rem solid #1e1e1e;
  color: #1e1e1e;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}
.cart-card .btn:hover {
  background-color: #74ca1d;
  color: #ffffff;
}
.cart-card.open {
  right: 2rem;
  transition: 0.4s linear;
}
.search-box {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 50rem;
  height: 5rem;
  background: rgb(230, 205, 205);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  background: none;
  font-size: 1.6rem;
  color: black;
  padding: 0 1.5rem;
  outline: none;
}
.search-box label {
  font-size: 2.2rem;
  padding-right: 1.5rem;
  color: rgb(47, 33, 33);
  cursor: pointer;
}
.search-box label:hover {
  color: #74ca1d;
}
.search-box.open {
  right: 2rem;
  transition: 0.4s linear;
}
/* hero styling */

.hero-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
  margin: 150px auto;
}
.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  margin-left: 120px;
}
.hero-left h2 {
  font-size: 64px;
  font-weight: 500;
  color: #74ca1d;
}
.hero-left p {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 20px;
  width: 300px;
}
.hero-left button {
  margin-top: 20px;
  padding: 10px 20px;
  width: 150px;
  border: none;
  background-color: #74ca1d;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1cm;
}
.hero-left button:hover {
  background-color: #ffffff;
  color: #1e1e1e;
  transition: all 0.3s ease-in-out;
}
.hero-right {
  display: flex;
  justify-content: center;
  width: 500px;
  background-color: #ffffff;
  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;
}
.hero-right img {
  width: 400px;
  height: auto;
  background-color: transparent;
}

/* section 2 styling */

.section-2 {
  background-color: #ffffff;
  height: 110vh;
}
.features {
  margin: 200px;
  margin-left: 300px;
  text-align: center;
}
.features-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
  margin: 50px auto;
}
.features h2 {
  font-size: 48px;
}
.features span {
  color: #74ca1d;
}
.featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  position: relative;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.8s ease;
}

.card-front {
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: var(--background);
}

.card-back {
  transform-style: preserve-3d;
  transform: rotateY(-180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
  padding: 20px;
  font-size: 16px;
  color: #74ca1d;
}

.featured:hover .card-front {
  transform: rotateY(180deg);
}

.featured:hover .card-back {
  transform: rotateY(0deg);
}
.featured img {
  width: 200px;
  height: auto;
  padding-bottom: 20px;
}
.featured h3 {
  font-size: 14px;
  font-weight: 800;
  color: #74ca1d;
}

/* section 3 styling */
.products {
  text-align: center;
  color: gold;
  width: 100%;
  height: auto;
}
.products h2 {
  font-size: 48px;
  font-weight: 800;
  padding-top: 40px;
}
.products-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  margin: 50px auto;
  padding: 20px;
}
.product {
  width: 200px;
  height: 400px;
  background-color: #ffffff;
  flex-basis: calc(20.33%);
  border-radius: 4px;
  transition: transform 0.3s;
}
.product::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s;
}
.product:hover {
  transform: scale(1.05);
  border: 2px solid black;
}
.product:hover::before {
  opacity: 1;
}
.product img {
  width: 200px;
  height: 200px;
  padding-bottom: 20px;
}
.product h3 {
  width: fit-content;
  font-size: 14px;
  font-weight: 800;
  color: black;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  text-transform: capitalize;
  border-bottom: 3px solid #3b4249;
}
.product p {
  font-size: 12px;
  font-weight: 600;
  color: var(--secondarybutton);
  text-align: left;
  margin-left: 20px;
  text-transform: capitalize;
}
.product button {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 4px 6px;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0.1cm;
  background-color: var(--secondarybutton);
  color: var(--text);
  border-radius: 6px;
  width: 50%;
}
.product button:hover {
  background-color: #74ca1d;
  color: #000000;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
